:root {
    --french-lilac: #966b9dff;
    --dark-plum: #3D1A39;
    --old-rose: #c98686ff;
    --mellow-apricot: #f2b880ff;
    --seashell: #fff4ecff;
    --champagne-pink: #e7cfbcff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}

.header {
    display: flex;
    margin: 0.3rem 0.3rem 0.5rem 0.3rem;
    justify-content: space-between;
    color: var(--dark-plum);
}

h1 {
    font-size: 36px;
    color: var(--dark-plum);
}

h2 {
    color: var(--dark-plum);
    margin: 0.4rem 0.4rem 0.4rem 1rem;
}

#homeIcon {
    height: 28px;
    color: var(--old-rose);
    margin-right: 0.7rem;
    margin-top: 0.5rem;
}

#homeIcon:hover {
    color: var(--mellow-apricot);
}

.loggedInNotif{
    margin-left: 0.1rem;
    font-size: 16px;
}

.userLoggedIn {
    font-weight: 800;
    color: var(--old-rose);
}

.navBar {
    background-color: var(--old-rose);
}

.categoryMenu {
    display: flex;
    justify-content: space-between;
    color: var(--seashell);
}

.categoryMenu, h3 {

    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.menuButton{
    font-size: 26px;
    color: var(--seashell);
    background-color: transparent;
    border: none;
    margin-right: 1rem;
}

.menuButton:hover{
    color: var(--mellow-apricot);
    cursor: pointer;
}

.navLink {
    text-decoration: none;
    color: var(--seashell);
    height: 10px;
}

.navLinkText:hover {
    background-color: var(--mellow-apricot);
    color: var(--dark-plum);
}

.navLinkText{
    font-size: 14px;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    border-top: 2px solid rgb(169, 112, 112)
}

.reviewSortOptions{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.ascDescButtons{
    display: flex;
    color: var(--dark-plum);
    font-size: 16px;
}

.ascButton, .descButton  {
    background-color: transparent;
    border: none;
    font-size: 12px;
}

.ascButton:hover, .descButton:hover  {
    color: var(--mellow-apricot);
    cursor: pointer;
}

.ascButton:disabled, .descButton:disabled  {
    color: var(--mellow-apricot);
}


.ascButton {
    margin-right: 0.4rem;
}

.descButton {
    margin-left: 0.4rem;
}

.sortByLabel{
    color: var(--dark-plum);
    font-size: 14px;
    margin-right: 0.2rem;
}

#filters {
    color: var(--dark-plum);
    border-radius: 20px;
    border: 1px solid var(--dark-plum);
    text-align: center;
    padding: 0.1rem;
}

#filters:hover {
    cursor: pointer;
}

.reviewList{
    position: relative;
	overflow: auto;
	z-index: 1;
}

.reviewCard {
    height: 120px; 
    margin: 0.7rem;
    display: flex;
    border: 4px solid rgb(231, 207, 188, 0.4);
    border-radius: 12px;
    text-decoration: none;
    color: black;
    overflow-y: scroll;
}

.reviewCard:hover{
    border-color: var(--mellow-apricot);
   
}

.voteCount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 207, 188, 0.4);
    color: var(--old-rose);
    width: 15%;
}

.voteNumber {
    font-size: 24px;
}

.reviewCardText {
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
    width: 85%;
    justify-content: space-between;
}

.cardTitle {
    font-size: 18px;
    font-weight: 700;
    color: var(--dark-plum);
}

.cardOwner {
    color: var(--old-rose);
    font-weight: 700;
    font-size: 15px;
}

.cardDesignCategory{
    display: flex;
    justify-content: space-between;
    color: var(--dark-plum);
    font-size: 14px;
}

.paletteIcon, .diceIcon {
    font-size: 18px;
    margin-right: 0.2rem;
    color: var(--old-rose);
}

.cardDesigner, .cardCategory {
    font-size: 14px;
}

.loadingMessage{
    color: var(--dark-plum);
    text-align: center;
    margin-top: 1rem;
}
.exitReviewButton {
    font-size: 26px;
    color: var(--old-rose);
    align-self: flex-start;
    background-color: transparent;
    border: none;
    margin: 0.5rem 0rem 0.5rem 1rem;
}

.singleReviewTitle  {
    display: flex;
    margin-right: 1rem;
}

.singleReviewTitle, h2  {
    margin-bottom: 0;
}

.imageHolder{
    width: 55%;
    margin: 1rem 1rem 1rem 0.25rem;
    max-height: 175px;
}

.reviewImage{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 8px;
}

.exitReviewButton:hover {
    color: var(--mellow-apricot);
    cursor: pointer;
}

.singleReviewStatsAndImage {
    display: flex;
    justify-content: space-between;
    margin-top: -0.2rem;
}

.statsBox {
    width: 45%;
    max-height: 175px;
    overflow-y: scroll;
    height: 100%;
    margin: 1rem 0.25rem 1rem 1rem;
}

.reviewCardOwner {
    color: var(--old-rose);
    font-weight: 700;
    font-size: 20px;
    padding-left: 0.2rem;
}

.reviewDateTime {
    font-size: 11px;
    padding-left: 0.2rem;
    color: var(--dark-plum);
}

.reviewVoteCount, .reviewCommentCount {
    display: flex;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    background-color: rgb(231, 207, 188, 0.4);
    justify-content: space-between;
    padding: 0.2rem 0rem 0.2rem 0.5rem;
    color: var(--old-rose);
    font-size: 14px;
    align-items: center;
}

.votingButton{
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    width: 30px;
    margin: 0.1rem 0.2rem 0.1rem 0rem;
    background-color: var(--old-rose);
    border: 0;
    border-radius: 8px;
}

.singleReviewButton {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    margin: 0.1rem 0.2rem 0.1rem 0rem;
    background-color: var(--old-rose);
    border: 0;
    border-radius: 8px;   
    color: var(--seashell);
}

.thumb{
    font-size: 16px;
    color: var(--seashell);
}

.votingButton:hover, .singleReviewButton:hover{
    background-color: var(--mellow-apricot);
    cursor: pointer;
    color: var(--dark-plum);
}

.thumb:hover{
    color: var(--dark-plum);
}

.largeNumber{
    font-weight: 700;
    font-size: 18px;
}

.votingError {
    font-size: 10px;
}

.reviewCategoryDesigner {
    display: flex;
    flex-direction: column;

    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    font-size: 14px;
    color: var(--dark-plum);

}

.reviewBody {
    margin: 0rem 1rem 0rem 1rem;
    padding: 0.5rem;
    font-size: 14px;
    border: 2px solid var(--old-rose);
    color: var(--dark-plum);
    border-radius: 12px;
}

.commentSection {
    margin: 0.5rem 1rem 0rem 1rem;
    padding: 0.3rem;
    font-size: 14px;
    border: 2px solid var(--old-rose);
    border-radius: 12px;
}

.commentTitleAndCount {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--dark-plum);
    font-size: 16px;
    margin-top: 0.5rem;
    font-weight: 600;
}

.errorMessage{
    text-align: center;
    margin: 0.5rem;
    color: var(--dark-plum);
}

.commentCard {
    margin: 0.7rem;
    height: 100px;
    display: flex;
    border: 4px solid rgb(231, 207, 188, 0.4);
    border-radius: 12px;
    text-decoration: none;
    color: var(--dark-plum);
    overflow-y: scroll;
}

.commentVoteCount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 207, 188, 0.4);
    color: var(--old-rose);
    width: 20%;
}

.commentVoteNumber {
    font-size: 20px;
}

.commentCardText {
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
    width: 70%;
}

.commentDeleteButton {
    align-self: flex-end;
    margin: 0.3rem;
}

.addNewComment {
    margin: 0.7rem;
    display: flex;
    border: 2px solid var(--old-rose);
    border-radius: 12px;
    text-decoration: none;
    color: var(--dark-plum);
}

.newCommentContainer {
    display: flex;
    width: 100%;
    border: 0px solid black;
    padding: 0.5rem;
    justify-content: space-between;
}

.newCommentBox {
    width: 80%;
    border: 0px solid black;
}

textarea:focus, input:focus{
    outline: none;
}

@media (min-width: 600px) {

    .titleAndSortBy{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .ascDescButtons{
        margin-right: 1rem;
    }

    .reviewList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .reviewCard {
        width: 30%;
    }

    .singleReview {
        display: flex;
        margin-bottom: 2rem;
    }

    .singleReviewTitle{
        margin-top: 0.5rem;
    }

    .singleReviewStatsAndImage{
        flex-direction: column;
        justify-content: flex-start;
        width: 30%;
        height: 500px;
        margin-right: 1rem;
    }

    .imageHolder{
        margin: 1rem 1rem 1rem 1rem;
        width: 100%;
    }

    .reviewImage{
        width: 100%;
        height: 340px;
        border: 2px solid var(--mellow-apricot); 
    }

    .statsBox {
        width: 100%;
       margin-bottom: 0rem;
    }

    .reviewBody {
        width: 48%;
        height: 100%;
        height: 500px;
    }

    .reviewBodyAndComments {
        margin-top: 3.8rem;
        margin-right: 0.6rem;
        display: flex;
        width: 70%;
    }

    .commentSection {
        margin: 0;
        width: 48%;
        height: 500px;
        overflow-y: scroll;
    }

    .reviewSortOptions{
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
    }

}