:root {
    --french-lilac: #966b9dff;
    --old-rose: #c98686ff;
    --mellow-apricot: #f2b880ff;
    --seashell: #fff4ecff;
    --champagne-pink: #e7cfbcff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}

.header {
    display: flex;
    justify-content: space-between;
    color: var(--french-lilac)
}

h1 {
    font-size: 36px;
}

h2 {
    color: var(--french-lilac) 
}

#homeIcon {
    height: 28px;
    color: var(--old-rose);
}

.navBar {
    background-color: var(--old-rose);
}

.categoryMenu {
    display: flex;
    justify-content: space-around;
    color: var(--seashell);
}

.navLink {
    text-decoration: none;
    font-size: 12px;
    color: var(--seashell);
}

.reviewCard {
    height: 140px; 
    margin: 0.7rem;
    display: flex;
    border: 4px solid rgb(231, 207, 188, 0.4);
    border-radius: 12px;
    text-decoration: none;
    color: black;
}

.reviewCard:hover{
    border-color: var(--mellow-apricot);
   
}

.voteCount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 207, 188, 0.4);
    color: var(--old-rose);
    width: 20%;
}

.voteNumber {
    font-size: 24px;
}

.reviewCardText {
    padding: 0.4rem;
    width: 80%;
}

.cardTitle {
    font-size: 16px;
}

.cardOwner {
    color: var(--old-rose);
    font-weight: 700;
    font-size: 14px;
}

.cardDesigner {
    font-size: 14px;
}

.cardCategory {
    font-size: 14px;
}

@media (min-width: 600px) {

    .reviewList {
        display: flex;
        flex-wrap: wrap;
    }

    .reviewCard {
        width: 30%;
    }
}